<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>post</title>
    <link rel="stylesheet" href="../../css/bootstrap.min.css"/>
    <link rel="stylesheet" href="../../css/blog.css"/>
    <link rel="stylesheet" href="../../css/common.css"/>
</head>
<body>
<div class="container">
    <ol class="breadcrumb">
        <li><a href="javascript:void(0);" class="breadcrumbs-home">主页</a></li>
        <li><a href="javascript:void(0);" class="breadcrumbs-post">博客</a></li>
        <li class="active">文章</li>
    </ol>
    <div class="blog-post" style="border-bottom:1px solid #9d9d9d">
        <!--<h2 class="blog-post-title">Sample blog post</h2>-->
        <!--<p class="blog-post-meta">January 1, 2014 by <a href="#">Mark</a></p>-->
        <!--<div>This blog post shows a few different types of content that's supported and styled with-->
        <!--<br>-->
        <!--Bootstrap. Basic typography, images, and code are all supported-->
        <!--</div>-->
        <!--<p class="blog-post-meta"></p>-->
    </div>
    <!-- 回复 -->
    <div id="comments">
        <!--<h3>评论</h3>-->
        <!--<div>-->
        <!--<div class="panel panel-default">-->
        <!--<div class="panel-body">-->
        <!--Panel content-->
        <!--</div>-->
        <!--<div class="panel-heading">-->

        <!--</div>-->
        <!--</div>-->
        <!--</div>-->
        <!--<div id="pagination" class="pagination"></div>-->
    </div>

    <div style="margin-top: 20px">
        <textarea id="replyContent" style="width: 100%;height: 90px" placeholder="说点什么吧..." data-toggle="tooltip"
                  data-placement="bottom"
                  title="评论为空"></textarea>
    </div>
    <h4></h4>
    <button type="button" class="btn btn-info" style="float: right" onclick="reply()">评论</button>
</div>
</body>
<script src="../../js/jquery-3.3.1.min.js"></script>
<script src="../../js/bootstrap.min.js"></script>
<script src="../../js/common.js"></script>
<script>
    $(function () {
        post();
        replyList(defaultPageNum);
    });

    function post(){
        var id = getPostId();
        $.ajax({
            url: baseUrl + '/api/post/' + id,
            success: function (res) {
                var code = res.responseCode;
                if (code == '0000') {
                    var contentHtml = '';
                    var post = res.data;
                    var title = post.title;
                    var content = post.content;
                    var userName = post.user.nickName;
                    var updateTime = post.updateTime;
                    var sourceType = post.sourceType;
                    var formatUpdateTime = millisecondToDate(updateTime);
                    if (isNotBlank(content)) {
                        content = HtmlUtil.htmlDecode(content);
                    }
                    contentHtml += '<h2 class="blog-post-title">' + title + '</h2>'
                        + '<p class="blog-post-meta"><a href="#">' + userName + '</a>发表于'
                        + formatUpdateTime + '</p><div>' + content + '</div>';
                    if (sourceType == 2) {
                        var source = post.source;
                        contentHtml += '<p class="blog-post-meta">转载:' + source + '</p>';
                    }
                    if (sourceType == 3) {
                        var reference = post.reference;
                        contentHtml += '<p class="blog-post-meta">翻译自:' + reference + '</p>';
                    }
                    $('.blog-post').html(contentHtml);
                } else {
                    var msg = res.responseMsg;
                    dialogModalError(msg, 2000);
                }
            }
        })
    }

    function replyList(pageNum) {
        var replyHtml = '';
        var postId = getPostId();
        var url = baseUrl + '/api/replyPost/postId/' + postId;
        var data = {
            pageNum: pageNum,
            pageSize: defaultPageSize,
            orderBy: 'createTime',
            isAsc: false
        };
        var callback = function callback(page) {
            var replySet = page.data;
            var pageTotal = page.pageCount;
            var totalCount = page.totalCount;
            if (isNotBlank(replySet)) {
                replyHtml += '<div style="border-bottom:1px solid #9d9d9d"><h3>评论<span class="badge">' + totalCount + '</span></h3>';
                $.each(replySet, function (index, reply) {
                    var content = reply.content;
                    var user = reply.user;
                    var createTime = reply.createTime;
                    var formatCreateTime = millisecondToDate(createTime);
                    var nickName = user.nickName;
                    var profilePicture = isBlank(user.profilePicture) ? defaultProfilePic : user.profilePicture;
                    replyHtml += '<div class="panel panel-default"><div class="panel-body"><div>'
                        + content + '</div><div style="text-align: right;"><img src="' + profilePicture + '" class="profile-picture">&nbsp;'
                        + nickName + '&nbsp;回复于&nbsp;' + formatCreateTime + '</div></div></div>'
                });
                if (totalCount > defaultPageSize) {
                    replyHtml += '<div id="pagination" class="pagination"></div>';
                }
                replyHtml += '</div>';
                $('#comments').html(replyHtml);
                if (totalCount > defaultPageSize) {
                    pagination($('#pagination'), pageNum, pageTotal, defaultShowPageCount, 'replyList');
                }
            }
        };
        ajaxPost(url, data, callback);
    }

    function reply() {
        var reply = $('#replyContent');
        var replyContent = reply.val();
        if (isBlank(replyContent)) {
            fade(reply);
            tooltipFade(reply);
            return;
        }
        var url = baseUrl + '/api/replyPost';
        var data = {
            content: replyContent,
            mainPostId: getPostId()
        };
        ajaxPost(url, data, successCallBack);
    }

    var successCallBack = function successCallBack() {
        window.location.reload();
    };

    function getPostId() {
        var url = window.location.href;
        return url.substring(url.lastIndexOf('/') + 1);
    }
</script>
</html>