<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>版块列表</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="/css/layui.css" media="all">
</head>
<body>

<table class="layui-hide" id="content" lay-filter="content"></table>

<!--<script type="text/html" id="toolbarDemo">-->
    <!--<div class="layui-btn-container">-->
        <!--<button class="layui-btn layui-btn-sm" lay-event="getCheckData">获取选中行数据</button>-->
        <!--<button class="layui-btn layui-btn-sm" lay-event="getCheckLength">获取选中数目</button>-->
        <!--<button class="layui-btn layui-btn-sm" lay-event="isAll">验证是否全选</button>-->
    <!--</div>-->
<!--</script>-->

<script type="text/html" id="barDemo">
    <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</script>


<script src="/js/layui.js"></script>
<script src="/js/common.js"></script>

<script>
    layui.use('table', function(){
        var table = layui.table;

        table.render({
            elem: '#content'
            ,url: baseUrl + '/back/api/board/pageList'
            ,toolbar: '#toolbarDemo'
            ,title: '版块列表'
            ,cols: [[
                {type: 'checkbox', fixed: 'left'}
                ,{field:'id', title:'ID', width:80, fixed: 'left', unresize: true, sort: true}
                ,{field:'name', title:'版块名称', width:120}
                ,{field:'desc', title:'版块描述', width:200}
                ,{field:'level', title:'版块层级', width:80, sort: true}
                ,{field:'parentBoardId', title:'父版块id', width:100}
                ,{field:'parentBoardName', title:'父版块名称', width:150}
                ,{fixed: 'right', title:'操作', toolbar: '#barDemo', width:150}
            ]]
            ,page: true
        });

        //头工具栏事件
//        table.on('toolbar(content)', function(obj){
//            var checkStatus = table.checkStatus(obj.config.id);
//            switch(obj.event){
//                case 'getCheckData':
//                    var data = checkStatus.data;
//                    layer.alert(JSON.stringify(data));
//                    break;
//                case 'getCheckLength':
//                    var data = checkStatus.data;
//                    layer.msg('选中了：'+ data.length + ' 个');
//                    break;
//                case 'isAll':
//                    layer.msg(checkStatus.isAll ? '全选': '未全选');
//                    break;
//            };
//        });

        //监听行工具事件
        table.on('tool(content)', function(obj){
            var data = obj.data;
            //console.log(obj)
            if(obj.event === 'del'){
                layer.confirm('真的删除行么', function(index){
                    obj.del();
                    layer.close(index);
                });
            } else if(obj.event === 'edit'){
                layer.prompt({
                    formType: 2
                    ,value: data.email
                }, function(value, index){
                    obj.update({
                        email: value
                    });
                    layer.close(index);
                });
            }
        });
    });
</script>

</body>
</html>